<script type='module' src='scripts/contacts.js'></script>
<script type='module' src='scripts/spin.js'></script>
<link rel='stylesheet' href='css/spin.css' />

<link
  rel='stylesheet'
  type='text/css'
  href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'
/>
<script
  type='text/javascript'
  src='https://cdn.jsdelivr.net/npm/toastify-js'
></script>
<link rel='stylesheet' href='style.css' />
<link rel='stylesheet' href='review_page.css' />
<link rel='stylesheet' href='contacts.css' />
<main class='main_review'>
  <div id='user-container'>

  </div>
  <div class='vw100'>
    <div id='preloader' class='first'></div>
    <template class='flex_row' id='template'>
      <div class='flex_row'>
        <img src='#' alt='img' />
        <div class='flex_contacts'>
          <p></p>
          <p></p>
          <p></p>
        </div>
      </div>

    </template>
  </div>

  <button id='get-user'>Show one more....</button>
  <p id='error-text'></p>
</main>